
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<section class="gallery_section layout_padding">
    <div style="margin-bottom: 30px;" class="heading_container justify-content-center">
        <h2>
            Quản lý tài khoản
        </h2>
    </div>
<div class="container-fluid">
   
    <div class="row px-xl-5">
        <div class="col-lg-4 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <img style="border-radius: 50%;" alt=""
                         src="https://secure.gravatar.com/avatar/9e0afa26bc1077afbf9bebfbbb0a9b41?s=70&amp;d=mm&amp;r=g"
                         srcset="https://secure.gravatar.com/avatar/9e0afa26bc1077afbf9bebfbbb0a9b41?s=140&amp;d=mm&amp;r=g 2x"
                         height="70" width="70" decoding="async">
                    <p style="font-size: 20px;">Thông tin cá nhân</p>


                    <div style="margin-bottom: 5px;">
                        <a class="form-control_1" href="/Account/MyAccount" style="text-decoration: none;">
                            <i class="fa fa-user-circle " style="color: black; margin-right: 10px;"></i>Thông tin tài khoản
                        </a>

                    </div>

                    <div style="margin-bottom: 5px;">
                        <a class="form-control_1" style="background-color:#ff8100" href="/Account/ChangePassword" style="text-decoration: none;">
                            <i class="fa fa-key" style="color: black; margin-right: 10px;"></i>Đổi mật khẩu
                        </a>

                    </div>

                    <div class="control-group" style="margin-bottom: 5px;">
                        <a class="form-control_1" href="/Account/MyOrder" style="text-decoration: none;">
                            <i class="fa fa-gift" style="color: black; margin-right: 10px;"></i>Đơn hàng
                        </a>

                    </div>
                    <div class="control-group" style="margin-bottom: 5px;">
                        <a class="form-control_1" href="/Account/MyAddress" style="text-decoration: none;">
                            <i class="fa fa-home" style="color: black; margin-right: 10px;"></i>Địa chỉ
                        </a>

                    </div>
                    <div class="control-group" style="margin-bottom: 5px;">
                        <a class="form-control_1" href="#" onclick="handleLogout()" style="text-decoration: none;">
                            <i class="fa fa-sign-out-alt" style="color: black; margin-right: 10px;"></i>Đăng xuất
                        </a>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-lg-8 mb-5">

            <div class="bg-light p-30 mb-3" style="height: 100%;">

                <form method="post" action="/Account/ChangePassword" class="changepw">


                    <div class="bg-light p-30 mb-6">

                        <div class="row">


                            <div class="col-md-12 form-group">
                                <label>Mật khẩu hiện tại :</label>
                                <input class="form-control" type="password" name="oldpassword" id="pwrs">
                                <p style="color: red;"></p>
                            </div>
                            <div class="col-md-12 form-group">
                                <label>Mật khẩu mới:</label>
                                <input class="form-control" type="password" name="password" id="newPass">
                                <p style="color: red;"></p>

                            </div>
                            <div class="col-md-12 form-group">
                                <label>Xác nhận mật khẩu:</label>
                                <input class="form-control" type="password" name="repassword" id="newPassConfirm">
                                <p style="color: red;"></p>
                            </div>

                            <div class="col-md-12 form-group" style="  text-align: center;">

                                <input class="button-32" id="btnrspw" role="button" type="submit" value="Update" name="btnUpdatePassword">


                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section>
<script src="~/js/address/addressvalidate.js"></script>
<!-- Contact End -->
