@using Newtonsoft.Json
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BusinessObject.Model.DataResult

@{
    var homeModel = Model.Result as BusinessObject.Model.Page.HomeModel;
    var specialSale = homeModel?.specialSale;
    var mouse = homeModel?.mouse;
    var keyboard = homeModel?.keyboard;
    var serializedList = Context.Session.GetString("HeaderData");
    // Deserialize the JSON string into a list
    var headerData = JsonConvert.DeserializeObject<BusinessObject.Model.Page.HeaderModel>(serializedList);
    var brandList = headerData.brand;
}

<script>
    var usernameView = '@ViewBag.Username';
    if (usernameView) {
        sessionStorage.setItem('username', usernameView);
    }
</script>

<!-- slider section -->

<section class=" slider_section position-relative">
    <div class="slider_number-container ">
        <div class="number-box">
            <span>
                01
            </span>
            <hr>
            <span>
                02
            </span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="col-lg-6 col-md-8">
                            <div class="detail_box">
                                <h2>
                                    Welcome to
                                </h2>
                                <h1>
                                    Belliso
                                </h1>
                                <p>
                                    Chào mừng bạn đến với Belliso – nơi những kỷ niệm ngọt ngào của các lễ cưới được tái chế thành những chiếc đèn hoa lung linh, thắp sáng không gian và trái tim bạn với vẻ đẹp bền vững và đầy ý nghĩa.

                                </p>
                                <div>
                                    <a href="/Shop">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-6 col-md-8">
                            <div class="detail_box">
                                <h2>
                                    Welcome
                                </h2>
                                <h1>
                                    Belliso
                                </h1>
                                <p>
                                    Chào mừng bạn đến với Belliso – nơi những kỷ niệm ngọt ngào của các lễ cưới được tái chế thành những chiếc đèn hoa lung linh, thắp sáng không gian và trái tim bạn với vẻ đẹp bền vững và đầy ý nghĩa.

                                </p>
                                <div>
                                    <a href="">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-6 col-md-8">
                            <div class="detail_box">
                                <h2>
                                    Welcome
                                </h2>
                                <h1>
                                    Belliso  shop
                                </h1>
                                <p>
                                    Chào mừng bạn đến với Belliso – nơi những kỷ niệm ngọt ngào của các lễ cưới được tái chế thành những chiếc đèn hoa lung linh, thắp sáng không gian và trái tim bạn với vẻ đẹp bền vững và đầy ý nghĩa.

                                </p>
                                <div>
                                    <a href="">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel_btn-container">
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
   </div>
<!-- end slider section -->
<!-- about section -->
<section class="about_section ">
    <div class="section_number">
        01
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-7">
                <div class="img-box">
                    <img src="images/productImgs/about12.png" alt="" />
                </div>
            </div>
            <div class="col-md-5 col-xl-5">
                <div class="detail_box">
                    <div class="heading_container justify-content-end">
                        <h2>
                            Giới thiệu về Bellsio
                        </h2>
                    </div>
                    <p>
                        Belliso tự hào là thương hiệu hàng đầu trong lĩnh vực cung cấp các sản phẩm đèn ngủ chất lượng cao. Với tâm huyết và sự sáng tạo không ngừng, chúng tôi mang đến những thiết kế tinh tế và độc đáo, giúp bạn tạo nên không gian sống ấm cúng và lãng mạn. Mỗi sản phẩm của Belliso không chỉ là một chiếc đèn ngủ mà còn là biểu tượng của tình yêu và sự chăm sóc, giúp bạn có những giấc ngủ ngon và yên bình.
                    </p>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- end about section -->
<!-- why section -->
<section class="why_section layout_padding">
    <div class="section_number">
        02
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Tại sao chọn chúng tôi
                </h2>
                <p>
                    Tại Belliso, chúng tôi cam kết mang đến những sản phẩm chất lượng cao nhất, kết hợp giữa sự thoải mái và thẩm mỹ tinh tế. Đèn ngủ hoa cưới Belliso không chỉ là sản phẩm trang trí mà còn là biểu tượng của tình yêu và sự chăm sóc. Với thiết kế độc đáo và ánh sáng dịu nhẹ, sản phẩm của chúng tôi giúp tạo nên không gian ấm cúng và lãng mạn, giúp bạn có những giấc ngủ ngon và yên bình. Chúng tôi luôn đặt khách hàng lên hàng đầu và không ngừng nỗ lực để mang lại sự hài lòng tối đa. Hãy để Belliso trở thành một phần quan trọng trong cuộc sống của bạn, nơi mà mỗi sản phẩm đều chứa đựng tình yêu và sự tâm huyết.
                </p>
                <div>
                    <a href="/Shop">
                        Mua sắm
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- end why section -->
<!-- gallery section -->
<section class="gallery_section layout_padding">
    <div class="section_number">
        03
    </div>
    <div class="heading_container justify-content-center">
        <h2>
            Our Gallery
        </h2>
    </div>
    <div class="container">
        <div class="img_container">
            <div class="box-1">
                <div class="box-1-container">
                    <div class="b-1">
                        <div class="img-box">
                            <img style="width: 375px; height: 260px; object-fit: cover;" src="images/productImgs/Product1.jpg" alt="">

                        </div>
                        <div class="img-box">
                            <img style="width: 375px; height: 467px; object-fit: cover;" src="images/productImgs/Product2.jpg" alt="">
                        </div>
                    </div>
                    <div class="b-2">
                        <div class="img-box">
                            <img style="width: 375px; height: 4608x; object-fit: cover;" src="images/productImgs/Product4.jpg" alt="">

                        </div>
                        <div class="img-box">
                            <img src="images/g-5.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="b-3">
                    <div class="img-box">
                        <img src="images/g-7.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="box-2">
                <div class="img-box">
                    <img src="images/g-3.jpg" alt="">
                </div>
                <div class="img-box">
                    <img src="images/g-6.jpg" alt="">
                </div>
                <div class="img-box flex-grow-1">
                    <img src="images/g-8.jpg" alt="">
                </div>
            </div>
        </div>
</section>
<!-- end gallery section -->
<!-- client section -->

<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container justify-content-center">
            <h2>
                Feedback
            </h2>
            <div class="section_number">
                04
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="client_box">
                    <div class="detail_box">
                        <div class="img_box">
                            <img src="images/client-1.png">
                        </div>
                        <h5>
                            Nghiêm Vũ Hoàng Long
                        </h5>
                        <p>
                            Đèn ngủ hoa cưới Belliso không chỉ đẹp mắt mà còn tạo ra không gian ấm cúng, lãng mạn. Tôi rất hài lòng với sản phẩm này và chắc chắn sẽ giới thiệu cho bạn bè.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="client_box">
                    <div class="detail_box">
                        <div class="img_box">
                            <img src="images/client-2.png">
                        </div>
                        <h5>
                            Phạm Nam Hải
                        </h5>
                        <p>
                            Đèn ngủ hoa cưới Belliso thật sự là một tác phẩm nghệ thuật. Ánh sáng dịu nhẹ cùng thiết kế tinh tế giúp giấc ngủ của tôi trở nên thư giãn hơn. Rất đáng đồng tiền!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- end client section -->
<!-- map section -->

<div class="map_section">
    <div class="map_container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1666013.5512085604!2d106.39727365748195!3d10.966410007140341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3171132e313490f5%3A0x7f0900a66e187435!2sFlower%20Park!5e1!3m2!1sen!2s!4v1720757496246!5m2!1sen!2s" width="2000" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<!-- end map section -->
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
