
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="container ">
        <div class="heading_container justify-content-center">
            <h2 class="">
                Liên Hệ
            </h2>
        </div>
    </div>




    <!-- Contact Start-->
    <div class="container-fluid  ">
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div class="chatbox">
                        <div class="bodychat">
                            <div class="container-chatbox">
                                <div class="header-chatbox">
                                    <h1>Belliso</h1>
                                    <div class="body-chatbox">
                                        <div class="message-container">
                                            <p class="message user_message">Tôi có thể gửi hình để gắn vào đèn không ạ?</p>
                                            <span class="time_user">07:00 12 December 2023</span>
                                        </div>

                                        <div class="message-container">
                                            <p class="message">Vâng bạn có thể gửi hình để gắn vào đèn ạ</p>
                                            <img class="chatbox_img" src="images/productImgs/450260107_498108675995374_642200957803589339_n.jpg" alt="Mouse Image" class="message-image">
                                            <span class="time">04:10 7 September 2019</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-chatbox">
                                    <form action="">
                                        <input type="text" name="">
                                        <div style=" position: absolute; margin-left: 76%;" class="image-upload">
                                            <input style="" type="file" accept="image/*">
                                            <img src="https://toppng.com/uploads/preview/file-upload-image-icon-115632290507ftgixivqp.png" alt="Upload Icon">
                                        </div>
                                        <button type="button" class="button1">Gửi</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-5 mb-5" style="background-color: #f7f6f6;">
                <div class="bg-light p-30 mb-30">
                    <iframe style="width: 100%; height: 420px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1666013.5512085604!2d106.39727365748195!3d10.966410007140341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3171132e313490f5%3A0x7f0900a66e187435!2sFlower%20Park!5e1!3m2!1sen!2s!4v1720757496246!5m2!1sen!2s"
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


                </div>
                <div class="p-30 mb-3" style="background-color: #f7f6f6;">
                    <p class="mb-2">
                        <i class="fa fa-map-marker-alt text-primary mr-3"></i>Đ. Nguyễn Văn Cừ, Phường 1, Thành phố Đà Lạt, Lâm Đồng
                    </p>
                    <p class="mb-2">
                        <i class="fa fa-envelope text-primary mr-3"></i>Belliso@gmail.com.vn

                    </p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+333 744 591</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
</section>

<!-- chatbox section -->
