<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/style1_1.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="~/source_img/advertising_img/logoGearshop.png">

</head>
<body>

    @RenderBody()
    <script src="~/js/jquery-3.7.0.js"></script>
    <script src="~/js/validatelogin.js"></script>
    <script src="~/js/validateregister.js"></script>
</body>
</html>
