@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
<link href="~/css/reset.css" rel="stylesheet" />
<section>
    <!-- Email enter -->
    <div id="Entryemail" class="Entryemail showform">
        <form>
            <h2>Nhập vào email !</h2>
            <div class="inputbox">
                <input id="email" type="text" name="email" class="email" placeholder="abc@gmail.com" />
                <p></p>
            </div>
            <div class="btnbox form-btn">
                <input name="" type="button" value="HỦY" onclick="window.location.href='/Login'" />
                <input id="BtnSend" class="btn_londang" type="button" value="TIẾP THEO" />
            </div>
        </form>
    </div>
    <!-- OTP Enter -->
    <div id="EntryOTP" class="EntryOTP">
        <form action="">
            <h2>NHẬP VÀO OTPP</h2>
            <text>
                OTP đã được gửi vào email
                <br>
                <!-- CLeny email -->
                <span class="emailmsg" style="font-weight: bold"></span>
            </text>
            <div class="otpbox">
                <input type="hidden" id="ServerOTP" name="ServerOTP" value="">
                <input type="text" class="otp" id="otp1" oninput="digitValidate(this)" onkeyup="tabChange(1)" maxlength="1" />
                <input type="text" class="otp" id="otp2" oninput="digitValidate(this)" onkeyup="tabChange(2)" maxlength="1" />
                <input type="text" class="otp" id="otp3" oninput="digitValidate(this)" onkeyup="tabChange(3)" maxlength="1" />
                <input type="text" class="otp" id="otp4" oninput="digitValidate(this)" onkeyup="tabChange(4)" maxlength="1" />
                <input type="text" class="otp" id="otp5" oninput="digitValidate(this)" onkeyup="tabChange(5)" maxlength="1" />
                <input type="text" class="otp" id="otp6" oninput="digitValidate(this)" onkeyup="tabChange(6)" maxlength="1" />
            </div>
            <span style="color:red" id="err-otp-msg"></span>
            <div class="btnResend" id="btnreSend" onclick="ResendOTP()">Gửi lại OTP <span id="countDown">(20)</span></div>
            <div class="btnbox form-btn">
                <input name="" type="button" value="HỦY" onclick="window.location.href='/Login'" />
                <input id="BtnOtp" class="btn_londang2" type="button" value="TIẾP THEO" />
            </div>
        </form>
    </div>
    <!-- Reset pass -->
    <div id="Resetpass" class="Resetpass">
        <form id="form_resetpass" action="Account/ForgetPassword" method="POST">
            <h2>ĐẶT LẠI PASSWORD</h2>
            <text>
                Reset password for
                <br>
        
                <span class="emailmsg" style="font-weight: bold"></span>
            </text>
            <div class="reset">
                <div class="reset_input">
                    <input id="emailSend" type="hidden" name="emailSend" class="email" value="" />
                    <label for="">Mật khẩu mới</label>
                    <input type="password" name="password" id="password" placeholder="Mật khẩu mới" />
                    <p></p>
                </div>
                <div class="reset_input">
                    <label for="">Xác nhận mật khẩu</label>
                    <input type="password" name="rePassword" id="rePassword" placeholder="Xác nhận mật khẩu" />
                    <p></p>
                </div>
            </div>
            <div class="btnbox form-btn">
                <input name="" type="button" value="HỦY" onclick="window.location.href='/Login'" />
                <input id="submit" name="btnReset" type="submit" value="XÁC NHẬN" />
            </div>
        </form>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/otpchecker.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script>
    let digitValidate = function (ele) {
        console.log(ele.value);
        ele.value = ele.value.replace(/[^0-9]/g, "");
    };

    let tabChange = function (val) {
        let ele = document.querySelectorAll(".otp");
        if (ele[val - 1].value != "") {
            ele[val].focus();
        } else if (ele[val - 1].value == "") {
            ele[val - 2].focus();
        }
    };
</script>